{% extends "base.html" %}

{% block style %}  
<link rel="stylesheet" href="{{ STATIC_URL }}dimtable.css">
{% endblock %}

{% block content %}
<a href="/admin/ex1/employee">Edit employees</a> 
<a href="/admin/ex1/product">Edit products</a> 

<form action="" method="POST">
  {% csrf_token %}
  {{ table.as_form }}
  <input type="submit" value="Tallenna">
</form>


{% endblock %}


{% block scripts %}
<script src="{{ STATIC_URL }}dimtable.js"></script>
<script>{{ table.render_js }}</script>
{% endblock %}
